# SignalR WebSocket URLs
WebSocketLinkBaloot=https://example.com/baloot-games-hub
WebSocketLinkHand=https://example.com/hand-games-hub

# staging | production | development | preview
NUXT_PUBLIC_APP_ENV=development

# Optional error reporting endpoint
NUXT_PUBLIC_ERROR_REPORT_URL=

# Firebase Realtime Database logging
apiKey=
authDomain=
projectId=
appId=
databaseURL=
storageBucket=
messagingSenderId=
loginPassword=
